.container {
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  width: 90%;
  max-width: 850px;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #e6e6e6;
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonGroup {
  display: flex;
  background-color: #f2f4f7;
  border-radius: 20px;
  overflow: hidden;
}

.sentButton,
.upcomingButton {
  padding: 8px 18px;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.25s ease;
}

.upcomingButton:hover,
.sentButton:hover {
  background: #007bff1a;
}

.titleCointainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.headerTitle {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
}

.mailContainer {
  padding: 0.5rem 0;
}

.listContainer {
  list-style: none;
  padding: 0;
  margin: 0;
}
